html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
a.text-decoration-none:hover {
    text-decoration: underline;
}

.list-group-item {
    border: none;
    border-bottom: 1px solid #eee;
}

.list-group-item a {
    color: #333;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

.nav-search-input {
    width: 320px !important;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.nav-search-input:focus {
    box-shadow: 0 0 8px rgba(255,255,255,0.5);
    transform: scale(1.03);
}


.nav-search-btn {
    border-radius: 20px;
    transition: 0.3s;
}

.nav-search-btn:hover {
    background-color: #ffffff;
    color: #000 !important;
    transform: scale(1.05);
}
.equal-column {
    height: 100%;
}

.equal-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* Áp dụng cho tất cả link trong menu */
header .nav-link {
    position: relative;
    color: #000 !important;     /* luôn là màu đen */
    padding-bottom: 5px;
}

/* Tạo gạch dưới */
header .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: #000;           /* gạch dưới màu đen */
    transition: width 0.25s ease-in-out;
}

/* Hover → hiện gạch dưới */
header .nav-link:hover::after {
    width: 100%;
}

/* Hover: KHÔNG đổi màu chữ (giữ đen) */
header .nav-link:hover {
    color: #000 !important;
}


